/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/bower_components
/resources/bower_components
.tmp
.sass-cache
_ide_helper.php
.phpstorm.meta.php
/storage/debugbar
access.log
error.log
public/webstat/